<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Involved</title>
    <link rel="stylesheet" href="/styles/get_involved.css">
</head>
<body>
    <nav class="navbar">
      <div class="logo">
        <img src="/images/logo.jpg" alt="" height="100px">
      </div>
      <div>
        <h1 style="font-size: 40px;">WELCOME TO <span style="color: darkorange;">JAGRATI</span></h1>
      </div>
      <ul id="nav-links">
        <li class="home"><a href="/">Go to Home</a></li>
      </ul>
    </nav>
    <br>
    <div style="text-align: center; margin: 40px 0px; font-size: 36px; font-weight: bold;">Get a <span style="color: darkorange">privilege</span> to serve the underprivileged.</div>
    <section id="member">
      <div class="image-container">
          <div class="member">
              <a href="/signup"><img src="/images/member2.jpg" alt="member" height="200px" width="600px"></a>
              <p>As Member</p>
          </div>
          <div class="donation">
              <a href="/donate"><img src="/images/donation.webp" alt="" height="200px"></a>
              <p>Via Donation</p>
          </div>
      </div>
  </section>
</body>
</html>