<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/signup.css">
</head>

<body>
    <div class="container">
        <div class="images">
            <img src="/images/1.jpeg" alt="">
            <img src="/images/2.png" alt="">
            <img src="/images/3.png" alt="">
            <img src="/images/4.jpeg" alt="">
            <img src="/images/5.png" alt="">
            <img src="/images/6.jpeg" alt="">
            <img src="/images/7.jpeg" alt="">
            <img src="/images/8.png" alt="">
            <img src="/images/9.png" alt="">
            <img src="/images/10.jpeg" alt="">
        </div>
        <div class="main">
            <div class="msg">
                <h1>WELCOME TO <br><span><img src="/images/logo.jpg" alt="" style="width: 150px;"></span></h1>
                <p>"Education not only for privileged, but for all."</p>
                <a href="/login">Login</a>
                <br>
            </div>
            <div class="box">
                <form action="/user/signup" method="post">
                    <h1>Signup</h1>
                    <div>
                        <label for="">Username</label>
                        <input type="text" name="username">
                    </div>
                    <div>
                        <label for="">Email</label>
                        <input type="email" name="email">
                    </div>
                    <div>
                        <label for="">Password</label>
                        <input type="password" name="password">
                    </div>
                    <div>
                        <button class="signup" type="submit">SignUp</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>